<h1>{{title}}</h1>
<p>
    {{artist.name}} recorded this album the {{formatDate releaseDate}}
</p>
<img src="{{cover}}" alt="{{title}}'s cover'">
<p>
    produced by {{label.name}}
</p>

<a href="/album/update/{{this.id}}">Update this album</a>